@{
    ViewData["Title"] = "Hobby";
}

<div class="text-center" style="color:#cecece">
    <div class="interests">
        <h3>Мої хоббі</h3>

        <div class="interest d-flex" style="margin-top:100px" >

            <div class="interest-image">
                <img src="https://hobbygames.ru/image/data/hobbygames/article/vidy-nastolnykh-igr.jpg" alt="настільні ігри" width="450" >
            </div>

            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center">Настільні ігри</h4>
                    <p style="padding-left:100px;padding-right:100px">Я дуже люблю грати у настільні ігри разом з друзями та родиною. Немає значення, чи ми граємо вдома, онлайн або навіть на природі - головне, щоб був настрій і компанія. Із задоволенням віддаю перевагу класичним іграм, таким як шашки, монополія та нарди. Граючи у них, ми не тільки розважаємося, а й спілкуємося, змагаємося та розвиваємо стратегічне мислення. Це чудовий спосіб провести час разом та забути про повсякденні турботи.</p>
                </div>
            </div>

        </div>


        <div class="interest d-flex" style="margin-top:100px">


            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center">3D моделювання та створенням анімацій</h4>
                    <p style ="padding-left:100px;padding-right:100px" >
                        Я люблю займатися 3D моделюванням та створенням анімацій у Blender. Це для мене не лише хобі, а й можливість втілити свої творчі задуми та ідеї у віртуальному просторі. Робота з 3D моделями та анімаціями дозволяє мені відчувати себе справжнім творцем, де кожен об'єкт, кожен рух і кожна сцена - це моє власне творіння.

                        Часто я використовую свої навички у Blender для інтеграції цих моделей у проекти на Unity. Це допомагає мені створювати цікаві віртуальні світи та ігри, які заповнені моїми уявленнями та фантазіями. А іноді мені потрібно редагувати моделі, які створені іншими користувачами, для того, щоб удосконалити їх або адаптувати під свої потреби.

                        Завдяки Blender я можу відтворити будь-яку ідею у віртуальному просторі та надати їй життя через анімацію. Це надає мені неймовірну радість та задоволення від процесу та результату моєї роботи.
                    </p>
                </div>
            </div>

            <div class="interest-image">
                <img src="https://i.ytimg.com/vi/elUJCEC06r8/maxresdefault.jpg" alt="настільні ігри" width="450">
            </div>
        </div>


        <div class="interest d-flex" style="margin-top:100px">

            <div class="interest-image">
                <img src="https://app2top.ru/wp-content/uploads/2021/08/unity-consoles.jpg" alt="настільні ігри" width="450">
            </div>

            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center">Unity</h4>
                    <p style="padding-left:100px;padding-right:100px">Я дуже захоплений розробкою 3D ігор у Unity! Це не лише моя хобі, а й захоплюючий шлях до самовираження та творчості. У мене вже є кілька власних пет-проектів, над якими я працюю з ентузіазмом та наполегливістю. Створювати ігри - це не лише про програмування та технічні аспекти, це також про створення унікальних світів, які захоплюють та залишають незабутнє враження у гравців. Я вірю, що мої проекти можуть надихати та розважати людей, і я з нетерпінням чекаю, щоб поділитися ними зі світом!</p>
                </div>
            </div>

        </div>

    </div>
</div>