@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex" style="margin-top:10px; color:#cecece">

    <div>
        <img style="border-style:outset; border-color:gold; width:auto; height:550px" src="https://images-ng.pixai.art/images/orig/72b706ad-a902-400f-b407-4e3a0d4df16f" alt="настільні ігри" width="650">
    </div>

    <div style="width:auto; margin-left:2%">
        <div>
            <ul style="font-size:25px">
                <li>
                    <b>Ім'я:</b> Максим
                </li>

                <li>
                    <b>Прізвище:</b> Черниш
                </li>

                <li>
                    <b>Вік:</b> 20
                </li>
                
                <li>
                    <b>Місце навчання:</b> НУ "Чернігівська політехніка"
                </li>

                <li>
                    <b>Контакти:</b>
                    <a href="https://t.me/tigu_h"><img width="35px" src="https://cdn3.iconfinder.com/data/icons/social-media-chamfered-corner/154/telegram-512.png" /></a>
                    <a href="https://github.com/Gerkyles1"><img width="35px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/2048px-Github-desktop-logo-symbol.svg.png" /></a>
                    <a href="https://discordapp.com/users/890544489490423838"><img width="35px" src="https://static.vecteezy.com/system/resources/previews/006/892/625/non_2x/discord-logo-icon-editorial-free-vector.jpg" /></a>
                </li>

            </ul>            
        </div>
    </div>
</div>

