@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex" style="margin-top:10px; color:#cecece">

    <div>
        <img style="border-style:outset; border-color:gold; width:auto; height:620px" src="https://images-ng.pixai.art/images/orig/72b706ad-a902-400f-b407-4e3a0d4df16f" alt="настільні ігри" width="650">
    </div>

    <div style="width:auto">
        <div>
            <ul>
                <li>
                    <b>Ім'я:</b> Максим
                </li>

                <li>
                    <b>Прізвище:</b> Черниш
                </li>

                <li>
                    <b>Вік:</b> 20
                </li>
                
                <li>
                    <b>Місце навчання:</b> НУ "Чернігівська політехніка"
                </li>
            </ul>
        </div>
    </div>
</div>

