@{
    ViewData["Title"] = "PetProjects";
}



<div class="text-center" style="color:#cecece">
    <div>
        <h3>Мої пет-проєкти</h3>

        <div class="d-flex" style="margin-top:100px" >

            <div>
                <img style ="border-style:outset; border-color:gold" src="https://play-static.unity.com/20240325/p/images/66d3eeb6-5364-4305-9e0f-af531ed6640d_qwert.png" alt="настільні ігри" width="650">
            </div>

            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center"> Crazy Chickens </h4>
                    <p style="padding-left:100px;padding-right:100px"> Have you ever wondered what would happen if you feed a chicken with nuclear waste? her brain will increase a lot and she will start running with a knife like crazy, in this game you will have to destroy their food and eliminate the chickens that have gone crazy and are trying to eat you now </p>
                    <a href="https://play.unity.com/mg/other/webgl-builds-397614"><button class="btn-lg" style="background-image: linear-gradient(to bottom right, #0568f2, white 140%);">Play now</button></a>
                </div>
            </div>

        </div>


        <div class="d-flex" style="margin-top:100px">


            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center"> Monopoly Fortune </h4>
                    <p style="padding-left:100px;padding-right:100px"> Strategic thinking and clever negotiation are key to success in "Monopoly Fortune." Will you invest in high-end properties to secure a steady income stream, or take risks on up-and-coming districts in hopes of striking gold? The choices are yours to make as you wheel and deal your way to victory in this thrilling game of wealth and strategy. </p>

                    <a href="https://play.unity.com/mg/other/webgl-builds-397758"><button class="btn-lg" style="background-image: linear-gradient(to bottom right, #0568f2, white 140%);">Play now</button></a>
                </div>
            </div>

            <div>
                <img style="border-style:outset; border-color:gold" src="https://play-static.unity.com/20240326/p/images/5ce08b39-ca2f-4d13-aa36-bb2483eb9c41_asdfsfdbgfn.png" alt="настільні ігри" width="650">
            </div>

        </div>

        <div class="d-flex" style="margin-top:100px">

            <div>
                <img style="border-style:outset; border-color:gold" src="https://play-static.unity.com/20240513/p/images/a3668da0-50b9-46f6-8e53-337bc4a7dcd2________________.png" alt="настільні ігри" width="650">
            </div>

            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center"> Idle Town </h4>
                    <p style="padding-left:100px;padding-right:100px"> As your city flourishes, so too does your wealth. Expand your empire by unlocking new districts, landmarks, and advanced technologies, all while balancing the delicate equilibrium between progress and sustainability. Will you become a master tycoon, or will financial ruin lurk around the corner? The fate of IdleTown is in your hands. Build, earn, and thrive in this addictive urban simulation game! </p>

                    <a href="https://play.unity.com/mg/other/webgl-builds-398208"><button class="btn-lg" style="background-image: linear-gradient(to bottom right, #0568f2, white 140%);">Play now</button></a>
                </div>
            </div>

        </div>


        <div class="d-flex" style="margin-top:100px">


            <div class="interest-description d-flex justify-content-center align-items-center">
                <div>
                    <h4 class="text-center"> Monopoly Fortune </h4>
                    <p style="padding-left:100px;padding-right:100px"> Strategic thinking and clever negotiation are key to success in "Monopoly Fortune." Will you invest in high-end properties to secure a steady income stream, or take risks on up-and-coming districts in hopes of striking gold? The choices are yours to make as you wheel and deal your way to victory in this thrilling game of wealth and strategy. </p>

                    <a href="https://play.unity.com/mg/other/webgl-builds-400027"><button class="btn-lg" style="background-image: linear-gradient(to bottom right, #0568f2, white 140%);">Play now</button></a>
                </div>
            </div>
            <div>
                <img style="border-style:outset; border-color:gold" src="https://play-static.unity.com/20240513/p/images/0df2f2e5-2fab-4f80-959e-de741e310226____________________.png" alt="настільні ігри" width="650">
            </div>

        </div>

    </div>
</div>